*.dep
*.o
*.a
*.elf
*.hex
*.lss
*.map
.*.un~
.*.sw*
*.bin
*.lst
libgfx/host-tools/convbdf
libgfx/host-tools/convflashbmp
libgfx/host-tools/tags
tests/**/Makefile
tests/libenergymeter/emtest
CMakeFiles
CMakeCache.txt
*.cmake
tags
.session.vim
